// Place all the styles related to the Lenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lender_table {
	text-align: center;
	
}
#lender {
	display: inline-block;
	width:80%;
	vertical-align: top;
}